h2 {

    font-size: 60px;
    text-align: center;
    color: #5b4747b3;
}

.p-button {
    background-color: #c91b00 !important;
    text-align: center !important;
    justify-content: center;
    width: 100% !important;
    // background-color: blue !important
}